body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}
.container{
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
h1{
    text-align: center;
    color: #333;
}
.todo-input{
    display: flex;
    margin-bottom: 20px;
}
#todoInput{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#addTodoButton{
    padding: 10px 15px;
    margin-left: 10px;
    border: none;   
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#addTodoButton:hover{
    background-color: #218838;
}
input[type="text"]{
    flex: 1;
    color: #999;
    padding: 10px;
    border:1px solid #ccc;
   border-radius: 4px;
}
ul{
   list-style-type: none;
    margin-left: 20px;
    padding: 10px;
}
button{
    padding:10% 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor : pointer ;
    font-size:16 px;
}